:root {
    --light: #EAE8FF;
    --dark: black;
    --background: #797596;
    --codecolor: white;
}

  body {
    background-color: #EAE8FF;
    padding: 20px;
  }
  
  .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .head h1 {
    font-size: 48px;
    margin-bottom: 8px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    margin: 36px 0;
  }
  
  article {
    display: flex;
    flex-direction: column;
    width: calc(33.3% - 32px);
    border: 2px dashed black;
    padding: 8px;
    margin: 32px 16px;
    transition: box-shadow 500ms ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  article h2 {
    text-align: center;
    padding: 8px;
    border: 2px solid black;
    background-color: var(--background);
    margin-bottom: 8px;
    margin-top: -30px;
    margin-left: 16px;
    margin-right: 16px;
    transition: box-shadow 500ms ease;
    border-radius: 15px;
  }
  
  article:hover,
  article:hover h2 {
    box-shadow: 0 0 8px #38023b;
  }
  
  article code,
  article pre {
    background: var(--background);
    user-select: all;
  }
  
  article pre {
    padding: 8px;
    margin-top: 8px;
    flex: 1;
  }
  
  footer {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  code {
    font-family: 'Lucida Console', Lucida, monospace;
  }
  
  @media screen and (max-width: 1160px) {
    article {
      width: calc(50% - 32px);
    }
  }
  
  @media screen and (max-width: 768px) {
    article {
      width: calc(100% - 32px);
    }
  }
  